* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@font-face {
  font-family: mainFont;
  src: url(../Lato-Regular.ttf);
}

body {
  font-family: mainFont;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #EFE9E7;
  padding: 30px;
}

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 60px;
}

.heading-primary--main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 15px;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.heading-primary--sub {
  display: block;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 5px;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 8px;
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.section-about {
  background-color: #111344;
  padding: 25rem 0;
  margin-top: -25vh;
}

.section-skills {
  padding: 20rem 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#CC111344), to(#E652154E)), url(../Photos/BG-Image-2.png);
  background-image: linear-gradient(#CC111344, #E652154E), url(../Photos/BG-Image-2.png);
  background-size: cover;
  background-position: top;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #ffffff;
  color: #111344;
}

.composition {
  position: relative;
}

.composition__photo {
  width: 55%;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline-offset: 1rem;
}

.composition__photo--p1 {
  left: 0;
  top: -2rem;
  z-index: 15;
}

.composition__photo--p2 {
  right: 0;
  top: 2rem;
}

.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}

.composition__photo:hover {
  outline: 1.5rem solid #52154E;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.composition:hover .composition__photo:not(:hover) {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.main-card-container {
  position: relative;
  height: 40rem;
  margin: 0;
}

.main-card-container_skill-box {
  position: absolute;
  background-color: #111344;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.5rem;
  padding: 2.5rem;
  border-radius: 30px;
  margin: 0;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.main-card-container_skill-box--front {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.main-card-container_skill-box--front__icon {
  width: 100%;
}

.main-card-container_skill-box--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  position: static;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.main-card-container_skill-box--back__text {
  text-align: center;
}

.main-card-container_skill-box:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.main-card-container_skill-box p {
  -webkit-transform: translate(0, -350px);
          transform: translate(0, -350px);
}

.header {
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#CC111344), to(#E652154E)), url(../Photos/me.JPG);
  background-image: linear-gradient(#CC111344, #E652154E), url(../Photos/me.JPG);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  max-width: 150rem;
  margin: 0 auto;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.footer {
  background-color: #111344;
  padding: 5rem;
  font-size: 1.4rem;
}

.footer__contact-info {
  margin-bottom: 4rem;
}
