$grid-width: 150rem;
$gutter-verticle:8rem;
$gutter-horizontal: 6rem;

$default-font-size: 1.6rem;

$color-primary: #52154E;
$color-violet: #111344;
$color-pink: #F9CFF2;
$color-lavender: #DAE0F2;
$color-isabelline: #EFE9E7;

$color-dark-grey: #777;
$color-white: #ffffff;
$color-black: #000;